@import 'tailwindcss';
@plugin "@tailwindcss/typography";

html,
body {
	@apply bg-neutral-900 text-neutral-100;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
}

code {
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
}
